.link {  /*class樣式*/
  stroke: #999;
  stroke-opacity: .6;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {  /* tag 樣式:  original is title */
  font: 10px sans-serif;
  pointer-events: none;
}