@charset "UTF-8";
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{
	display:none !important;
}

ng\:form{
	display:block;
}

.ng-animate-start{
	border-spacing:1px 1px;
	-ms-zoom:1.0001;
}

.ng-animate-active{
	border-spacing:0px 0px;
	-ms-zoom:1;
}