<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <!-- custom files-->
    <!--link rel="stylesheet" type="text/css" href="index.css"-->
    <script type="text/javascript" src="./index.js"></script>
  </head>
  <body ng-app="chart" ng-controller="main"><br>
    <svg id="svg" width="100%" height="400px" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>
    <button ng-click="morph()" style="position:absolute;left:50%;top:200px;z-index:1;margin-left:-50px;font-size:24px;cursor:pointer">Change</button>
  </body>
</html>
