.buddha {
/*    width:50%;
    float:left;*/
    color: #0000FF;
    font-family:arial;
    font-size: 10pt;
}
p{
    /*width:25%;
     float:left; 
    */
    font-family:arial;
    font-size: 10pt;
} 
.subhuti
{
/*    width:50%;
    float:left;*/
    color: #00FF00;
    font-family:arial;
    font-size: 10pt;
}